@font-face {
	font-family: 'EchinosParkScript';
	src: url('../fonts/EchinosParkScript/EchinosParkScript.eot?#iefix') format('embedded-opentype'),
	url('../fonts/EchinosParkScript/EchinosParkScript.woff') format('woff'),
	url('../fonts/EchinosParkScript/EchinosParkScript.ttf')  format('truetype'),
	url('../fonts/EchinosParkScript/EchinosParkScript.svg#EchinosParkScript') format('svg');
	font-weight: normal;
	font-style: normal;
}