@font-face {
	font-family: 'Arista Pro Alternate';
	src: url('../fonts/Arista-Pro-Alternate-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Arista Pro Alternate';
	src: url('../fonts/Arista-Pro-Alternate-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'Arista Pro Alternate';
	src: url('../fonts/Arista-Pro-Alternate-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');