.homeSlider
    position: absolute
    top: 0
    left: 0
    width: 100%
.slider
    position: relative
    figure
        margin: 0
        position: relative
.slide_1, .slide_2, .slide_3
    height: 1330px
    display: flex
    align-items: center
    @media screen and(max-width: 767px)
        height: 250px
        background-size: 100% auto
.bannerContent
    height: 1300px
    figure
        width: 1183px
        max-width: 1183px
        img
            max-width: 100%
            height: auto