.homeSlider
    position: relative
    width: 100%
.slider
    position: relative
    figure
        margin: 0
        position: relative
.slide_1, .slide_2, .slide_3
    height: 1330px
    display: flex
    align-items: center
    @media screen and(max-width: 767px)
        height: 250px
        background-size: 100% auto
.bannerContent
    height: 1300px
    @media screen and(max-width: 767px)
        height: 250px
.figureSlide
    height: 1132px
    display: flex
    align-items: center
    @media screen and(max-width: 767px)
        height: 150px
    figure
        width: 1183px
        max-width: 1183px
        @media screen and(max-width: 767px)
            width: 250px
        img
            max-width: 100%
            height: auto
.bannerButton
    text-align: center
.btnType1
    border: solid $color1
    padding: 1rem 1rem
    color: $white
    font-weight: $regular
    font-family: $arista
    font-size: 1.5em
    border-radius: 15px
    transition: all .3s
    &:hover
        background: white
        color: $color1
.btnType2
    color: white
    background: $color1
    padding: .25rem 1.5rem
    border-radius: 5rem
    font-size: 1.4em
    font-family: $arista
    transition: all .3s
    &:hover
        color: $color1
        background: white
.btnType3
    color: white
    border: 0
    font-family: $comfortaa
    background: #545454
    border-radius: 0 5px 5px 0
    width: 100px
    cursor: pointer
    transition: all .3s
    &:hover
        background: $color1
        color: white
.nosFazemos
    background: $color1
    padding: 4rem
    h3
        color: white
        text-align: center
        font-family: $arista
        font-weight: $extra-bold
    p
        text-align: center
        color: white
        font-family: $arista
        span
            font-size: 1.5em,
    .content
        margin-top: 4rem
        display: flex
        justify-content: space-between
        @media screen and(max-width: 767px)
            flex-flow: column
            align-items: center
        figure
            float: left
            display: inline-block
            margin-left: auto
            left: auto
            right: auto
            margin: 0
            @media screen and(max-width: 767px)
                width: 170px
.indexCases
    display: flex
    flex-wrap: wrap
    figure
        width: 33.3%
        height: 412px
        max-height: 412px
        min-height: 412px
        overflow: hidden
        margin: 0
        position: relative
        @media screen and(max-width: 767px)
            width: 100%
            height: auto
            height: 234px
            max-height: inherit
            min-height: inherit
        &:hover
            figcaption
                transform: translate(0)
        figcaption
            width: 100%
            height: 412px
            position: absolute
            top: 0
            left: 0
            transform: translateY(100%)
            background: transparentize($black, 0.2)
            display: flex
            align-items: center
            justify-content: center
            flex-flow: column
            transition: ease-in .2s
            @media screen and(max-width: 767px)
                height: 234px
            h3, span
                color: white
                font-family: $arista
                margin: 0
            span
                font-size: 1.3em
        img
            min-width: 100%
            min-height: 412px
            @media screen and(max-width: 767px)
                min-height: auto
        .btnType2
            margin-top: 1rem
// Section customers slider
.indexCustomers
    padding: 4rem 0
    background: #b7b7b7
#clientes
    figure
        margin: 0 auto
        padding: 2rem 1rem 1rem 1rem
        box-sizing: border-box
        img
            max-width: 100%
            height: auto
    .slick-prev
        left: -50px
        @media screen and(max-width: 767px)
            left: -20px
        &:before
            font-size: 3em
    .slick-next
        right: -75px
        @media screen and(max-width: 767px)
            right: -40px
        &:before
            font-size: 3em
.indexArticles
    padding: 4rem 0
    h3
        color: #b7b7b7
        text-align: center
        font-family: $arista
        font-weight: $extra-bold
    span
        color: $color1
.articleWrap
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(30%,1fr))
    grid-gap: 1rem
    margin-top: 4rem
    @media screen and(max-width: 767px)
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr))
    article
        padding: 2rem
        box-sizing: border-box
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
        figure
            width: 100%
            height: 240px
            overflow: hidden
            display: flex
            align-items: center
            justify-content: center
            margin: 0
            img
                width: 100%
                max-width: 100%
                height: auto
        a
            h5
                color: $black
            p
                color: #444
.articleFooter
    span
        color: #444
        margin-right: 1rem
        display: inline-block
    .icon
        width: 20px
        height: 20px
        float: left
        margin-right: 10px