.weDescription
    padding: 4rem 0
    background: $color1
    h3, h5
        color: white
        text-align: center
        font-family: $comfortaa
        font-weight: bold
    h5 
        margin-top: 4rem
.weOffer
    padding: 4rem 0 8rem 0
.weOfferBoxController
    display: flex
    flex-wrap: wrap
    justify-content: center
.weOfferBox
    display: flex
    width: 33.3%
    align-items: center
    margin-top: 4rem
    figure
        margin: 0 1rem 0 0
.offerDesc
    font-family: $comfortaa
    color: #b2b2b2
    font-size: 1.3em
    padding-right: 2em
    strong
        display: block
        font-weight: $extra-bold
.teamWork
    padding: 5rem 0
    background: #ededed
    h3, h6
        color: #b2b2b2
        font-family: $comfortaa
        font-weight: bold
        text-align: center
        span
            color: $color1
.teamWorkBoxController
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    figure
        text-align: center
        width: 33.3%
        margin: 2rem 0 0 0