$white: #ffffff
$black: #000000
$color1: #274980
$color2: #2e71c8
$yellow: #ff9b2f
$red: #ff0000
$orange: #ffad00
$font-color: #1d1d1d
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$asap: 'Asap', sans-serif;
$gochi: 'Gochi Hand', cursive;
$open: 'Open Sans', sans-serif;