extends _includes/template.pug
block content
    section.homeSlider
        .slider
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .containerFluid
                    .bannerContent
                        .figureSlide
                            figure
                                img(src="img/wellcome_mensage.png", alt="")
                        .bannerButton
                            a(href="contato.html").btnType1 Fala com a gente!
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .containerFluid
                    .bannerContent
                        .figureSlide
                            figure
                                img(src="img/wellcome_mensage.png", alt="")
                        .bannerButton
                            a(href="contato.html").btnType1 Fala com a gente!
    section.blogInterna
        .container
            .blogWrap
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    a(href="artigo.html", title="Título do artigo")
                        h5 Enim labore exercitation sint
                    .articleFooter
                        span Por 
                            a(href="blog-interna.html") Tatiana Luquini
                        span.comments 2 horas atrás
                            svg.icon.icon-access_time
                                use(xlink:href="#icon-access_time")
                    a(href="blog-interna.html", title="").btnType2 Ler Tudo
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    a(href="artigo.html", title="Título do artigo")
                        h5 Enim labore exercitation sint
                    .articleFooter
                        span Por 
                            a(href="blog-interna.html") Tatiana Luquini
                        span.comments 2 horas atrás
                            svg.icon.icon-access_time
                                use(xlink:href="#icon-access_time")
                    a(href="blog-interna.html", title="").btnType2 Ler Tudo
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    a(href="artigo.html", title="Título do artigo")
                        h5 Enim labore exercitation sint
                    .articleFooter
                        span Por 
                            a(href="blog-interna.html") Tatiana Luquini
                        span.comments 2 horas atrás
                            svg.icon.icon-access_time
                                use(xlink:href="#icon-access_time")
                    a(href="blog-interna.html", title="").btnType2 Ler Tudo
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    a(href="artigo.html", title="Título do artigo")
                        h5 Enim labore exercitation sint
                    .articleFooter
                        span Por 
                            a(href="blog-interna.html") Tatiana Luquini
                        span.comments 2 horas atrás
                            svg.icon.icon-access_time
                                use(xlink:href="#icon-access_time")
                    a(href="blog-interna.html", title="").btnType2 Ler Tudo
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    a(href="artigo.html", title="Título do artigo")
                        h5 Enim labore exercitation sint
                    .articleFooter
                        span Por 
                            a(href="blog-interna.html") Tatiana Luquini
                        span.comments 2 horas atrás
                            svg.icon.icon-access_time
                                use(xlink:href="#icon-access_time")
                    a(href="blog-interna.html", title="").btnType2 Ler Tudo
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    a(href="artigo.html", title="Título do artigo")
                        h5 Enim labore exercitation sint
                    .articleFooter
                        span Por 
                            a(href="blog-interna.html") Tatiana Luquini
                        span.comments 2 horas atrás
                            svg.icon.icon-access_time
                                use(xlink:href="#icon-access_time")
                    a(href="blog-interna.html", title="").btnType2 Ler Tudo