extends _includes/template.pug
block content
    section.caseBanner
        .banner
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .container
                    .bannerContentPost
                        .blogBannerInfo
    .caseBar
        figure
            img(src="img/caseicon.png", alt="")
    section.casePost
        .container
            .casePostController
                article
                    h4 Deserunt ea eu irure magna nostrud est cillum duis.
                    .categories
                        a(href="blog-interna.html", title="").btnType2 Design de consumo
                        a(href="blog-interna.html", title="").btnType2 Design
                        a(href="blog-interna.html", title="").btnType2 Publicidade
                    .postText
                        figure
                            img(src="img/banner_1.jpg", alt="")
                        h4 Ex dolore ipsum ex dolor enim eiusmod occaecat.
                        p Consectetur labore eiusmod exercitation ullamco cupidatat aliqua eiusmod fugiat exercitation in aliquip amet labore dolor. Id velit mollit consectetur nostrud eu laboris nostrud consectetur pariatur nulla. Id laboris sint veniam et cillum in officia sunt dolore labore adipisicing.
                        p Elit ut velit quis cupidatat fugiat ea. Laborum nostrud exercitation nisi voluptate aliqua Lorem sunt reprehenderit eiusmod duis. Ea do deserunt cillum consequat cupidatat dolor qui excepteur. Incididunt consectetur labore laboris ut ullamco dolor sit cupidatat est Lorem incididunt. Labore sit do tempor consectetur.
                        p Dolore labore excepteur nulla laboris. Dolore Lorem fugiat aliquip voluptate ex consequat non dolor eiusmod. Consectetur tempor aute nostrud non culpa anim in minim officia. Veniam sit commodo ex sit laborum eu cupidatat eiusmod magna voluptate. Fugiat consectetur ut pariatur reprehenderit cillum deserunt. Elit ad laboris aliqua nostrud aliqua magna nulla culpa eu veniam mollit ut pariatur. Minim magna in veniam ad.
                        p Pariatur minim eu est aliqua tempor irure. Enim magna sit sit qui proident ea exercitation officia aliqua excepteur eiusmod tempor. Proident consectetur ut ipsum enim aliqua veniam sit. Ullamco enim in reprehenderit sunt et reprehenderit ut.Amet ea cillum nulla fugiat veniam dolor aute velit.
                    .caseInfoTable
                        h5 Detalhes do Projeto:
                        table
                            tr
                                td Planejamento e estudo de mercado:
                                td Gerson Renato Klein
                            tr
                                td Arquitetura Comercial:
                                td Arq. Paloma Bugança - CAU A135676-3 
                            tr
                                td Design de Consumo:
                                td Tatiane Denise Luquini
                            tr
                                td Execução da Obra:
                                td Contrutora RDA
                            tr
                                td Entrega Final:
                                td Novembro/2018
                    h4 Outros Projetos:
                    .otherCaseWrap
                        article
                            figure
                                img(src="img/article_01.jpg", alt="")
                            a(href="case.html")
                                h5 Non quis id quis commodo nostrud.
                            a(href="case.html")
                                p Aliquip incididunt officia
                        article
                            figure
                                img(src="img/article_01.jpg", alt="")
                            a(href="case.html")
                                h5 Non quis id quis commodo nostrud.
                            a(href="case.html")
                                p Aliquip incididunt officia
                        article
                            figure
                                img(src="img/article_01.jpg", alt="")
                            a(href="case.html")
                                h5 Non quis id quis commodo nostrud.
                            a(href="case.html")
                                p Aliquip incididunt officia
                        article
                            figure
                                img(src="img/article_01.jpg", alt="")
                            a(href="case.html")
                                h5 Non quis id quis commodo nostrud.
                            a(href="case.html")
                                p Aliquip incididunt officia