extends _includes/template.pug
block content
    section.homeSlider
        .slider
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .containerFluid
                    .bannerContent
                        .figureSlide
                            figure
                                img(src="img/wellcome_mensage.png", alt="")
                        .bannerButton
                            a(href="contato.html").btnType1 Fala com a gente!
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .containerFluid
                    .bannerContent
                        .figureSlide
                            figure
                                img(src="img/wellcome_mensage.png", alt="")
                        .bannerButton
                            a(href="contato.html").btnType1 Fala com a gente!
    section.internCases
        figure
            //- 650px - 480px Tamanho ideal das imagens era até legal obrigar um recorte nesse tamanho
            img(src="img/intern-case_01.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            //- 650px - 480px Tamanho ideal das imagens era até legal obrigar um recorte nesse tamanho
            img(src="img/intern-case_02.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            //- 650px - 480px Tamanho ideal das imagens era até legal obrigar um recorte nesse tamanho
            img(src="img/intern-case_03.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            //- 650px - 480px Tamanho ideal das imagens era até legal obrigar um recorte nesse tamanho
            img(src="img/intern-case_03.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            img(src="img/intern-case_01.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            img(src="img/intern-case_02.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            img(src="img/intern-case_02.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            img(src="img/intern-case_03.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto
        figure
            img(src="img/intern-case_01.jpg", alt="")
            figcaption
                .internCasesDesc
                    h5 É Saudável! Produtos Naturais
                    span Branding/Design de Consumo/Arquitetura Comercial
                .internCasesBtn
                    a(href="#", target="_blank").btnType2 Ver Projeto