extends _includes/template.pug
block content
    section.homeSlider
        .slider
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .containerFluid
                    .bannerContent
                        .figureSlide
                            figure
                                img(src="img/wellcome_mensage.png", alt="")
                        .bannerButton
                            a(href="contato.html").btnType1 Fala com a gente!
            //- Trocar a imagem do banner no url(img/banner_1.jpg)
            div(style="background-image: url(img/banner_1.jpg);backgroudn-position: center left;", class="slide_1")
                .containerFluid
                    .bannerContent
                        .figureSlide
                            figure
                                img(src="img/wellcome_mensage.png", alt="")
                        .bannerButton
                            a(href="contato.html").btnType1 Fala com a gente!
    section.nosFazemos
        .container
            h3 A gente faz:
            p
                span Somos especialistas em Varejo.
            .content
                figure
                    img(src="img/faz_01.png", alt="")
                figure
                    img(src="img/faz_02.png", alt="")
                figure
                    img(src="img/faz_03.png", alt="")
                figure
                    img(src="img/faz_04.png", alt="")
                figure
                    img(src="img/faz_05.png", alt="")
    //- Limitar em 06
    section.indexCases
        figure
            img(src="img/index-case_01.jpg", alt="")
            figcaption
                h3 Claro
                span Passo Fundo Shopping
                a(href="cases.html").btnType2 Saiba mais
        figure
            img(src="img/index-case_02.jpg", alt="")
            figcaption
                h3 Claro
                span Passo Fundo Shopping
                a(href="cases.html").btnType2 Saiba mais
        figure
            img(src="img/index-case_03.jpg", alt="")
            figcaption
                h3 Claro
                span Passo Fundo Shopping
                a(href="cases.html").btnType2 Saiba mais
        figure
            img(src="img/index-case_02.jpg", alt="")
            figcaption
                h3 Claro
                span Passo Fundo Shopping
                a(href="cases.html").btnType2 Saiba mais
        figure
            img(src="img/index-case_01.jpg", alt="")
            figcaption
                h3 Claro
                span Passo Fundo Shopping
                a(href="cases.html").btnType2 Saiba mais
        figure
            img(src="img/index-case_03.jpg", alt="")
            figcaption
                h3 Claro
                span Passo Fundo Shopping
                a(href="cases.html").btnType2 Saiba mais
    //- Nesse aqui não precisa limitar, o slider vai fazer tudo sozinho ;)
    //- Logo com fundo transparente e cor branca
    section.indexCustomers
        .container
            #clientes
                figure
                    img(src="img/customer_01.png", alt="")
                figure
                    img(src="img/customer_01.png", alt="")
                figure
                    img(src="img/customer_01.png", alt="")
                figure
                    img(src="img/customer_01.png", alt="")
                figure
                    img(src="img/customer_01.png", alt="")
                figure
                    img(src="img/customer_01.png", alt="")
    section.indexBlog
        .container
            h3  A gente
                span  fala
            .blogWrap
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                        figcaption
                            .categories
                                a(href="blog-interna.html", title="").btnType2 Design de consumo
                                a(href="blog-interna.html", title="").btnType2 Design
                                a(href="blog-interna.html", title="").btnType2 Publicidade
                            .articleFooter
                                a(href="artigo.html", title="Título do artigo")
                                    h5 Enim labore exercitation sint
                                span Por 
                                    a(href="blog-interna.html") Tatiana Luquini
                                span.comments 2 horas atrás
                                    i.left
                                        svg.icon.icon-access_time.left
                                            use(xlink:href="#icon-access_time")
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                        figcaption
                            .categories
                                a(href="blog-interna.html", title="").btnType2 Design de consumo
                                a(href="blog-interna.html", title="").btnType2 Design
                                a(href="blog-interna.html", title="").btnType2 Publicidade
                            .articleFooter
                                a(href="artigo.html", title="Título do artigo")
                                    h5 Enim labore exercitation sint
                                span Por 
                                    a(href="blog-interna.html") Tatiana Luquini
                                span.comments 2 horas atrás
                                    i.left
                                        svg.icon.icon-access_time.left
                                            use(xlink:href="#icon-access_time")
                article
                    figure
                        img(src="img/article_01.jpg", alt="")
                        figcaption
                            .categories
                                a(href="blog-interna.html", title="").btnType2 Design de consumo
                                a(href="blog-interna.html", title="").btnType2 Design
                                a(href="blog-interna.html", title="").btnType2 Publicidade
                            .articleFooter
                                a(href="artigo.html", title="Título do artigo")
                                    h5 Enim labore exercitation sint
                                span Por 
                                    a(href="blog-interna.html") Tatiana Luquini
                                span.comments 2 horas atrás
                                    i.left
                                        svg.icon.icon-access_time.left
                                            use(xlink:href="#icon-access_time")