# Turn on URL rewriting
RewriteEngine On

# Put your installation directory here:
# If your URL is www.example.com/kohana/, use /kohana/
# If your URL is www.example.com/, use /
RewriteBase /point-of-sale/admin/

# Protect application and system files from being viewed
RewriteCond $1 ^(application|system|modules)

# Rewrite to index.php/access_denied/URL
RewriteRule ^(.*)$ index/access_denied/$1 [PT,L]

# Allow these directories and files to be displayed directly:
# - index.php (DO NOT FORGET THIS!)
# - robots.txt
# - favicon.ico
# - Any file inside of the images/, js/, or css/ directories
RewriteCond $1 ^(index\.php|manifest\.json|images|js|css|bootstrap|dist|plugins|upload|online\.php)

# No rewriting
RewriteRule ^(.*)$ - [PT,L]

# Rewrite all other URLs to index.php/URL
RewriteRule ^(.*)$ index.php/$1 [PT,L]

#PAGINA DE ERRO - PROIBIDO
ErrorDocument 403 /point-of-sale/admin/error/