header#sticker
    .headerContainer
        .headerLinksWrap
            figure.headerLogo
                a(href="index.html")
                    img(src="../img/logo-main.svg", alt="Point of Sale")
            ul.headerLinks
                li
                    a(href="index.html", title="Página Inicial") Home
                li
                    a(href="nos.html", title="Sobre Nós") Nós
                li
                    a(href="cases.html", title="Cases") Cases
                li
                    a(href="blog.html", title="Blog") Blog
                li
                    a(href="contato.html", title="Contato") Contato